@import url('https://fonts.googleapis.com/css?family=Happy+Monkey|Chango|Overlock+SC|Josefin+Sans');

body {
	/* background-image: linear-gradient(to left, #141E30, #243B55); */
}

.row.layer {
	margin: 10px -1px !important;
	
}

.bkgr-1, .bkgr-2, .bkgr-3 {	
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bkgr-0 {
	margin-top: 5vh;
	background: #FFF;
}

.bkgr-1 {
	background: #F37748;
}

.bkgr-2 {
	background: #D56062;
}

.bkgr-3 {
	background: #FCE949;
}

@media screen and (max-width: 573px) /* Mobile */ {
	.bkgr-0 {
		margin-top: 0;
	}

	.bkgr-3 {
		height: 91vh;
	}
}

.bkgr-1, .bkgr-2, .bkgr-3 {
	padding: 5px !important
}


.header>h1 {
	font-weight: bold;
	font-family: 'Overlock SC', cursive !important;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.35);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
	background-color: #A52426;
	color: transparent;	
	/* color: #2E97CB; */
	
	font-size: 6em !important;
}


@media screen and (max-width: 573px) /* Mobile */ {
	.header {
		padding: 0 !important;
	}

	.header>h1 {
		font-size: 4em !important;
		margin: 10px 0 !important;
	}
}


.row {
	/* border: 3px dashed red; */
	 /* height: 30px;  */
}


[class^="col-"] {
	/* border: 1px solid blue; */
}

.row>* { 
	/* border: 1px solid green; */
	min-height: 30px !important;
}

.inputDiv {
	padding-left: 0 !important;
	z-index: 1;
}

.dropdown-menu {
	margin: -2px 0;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

@media screen and (max-width: 573px) /* Mobile */ {
	.dropdown-menu {
		width: 100%;
	}

	body {
/* 		background: red; */
	}

	.form-control {		
		width: 80vw !important;
	}
}

@media screen and (min-width: 980px) /* Desktop */ {
	.dropdown-menu {
		width: 99%;
	}
		body {
/* 		background: blue; */
	}
}

@media screen  and (max-width: 979px) /* Tablet */ {
	.dropdown-menu {
		width: 100%;
	}
		body {
/* 		background: green; */
	}
}

.form-inline{
	display: flex;
  align-items: center;
	flex-direction: column;
  justify-content: center;
}

.search {
	display: flex;
	align-items: center; 
	/* flex-direction: column; */	
  justify-content: center;
}

.input-group, .input-group:focus {
	border-bottom: 2px solid rgba(0,0,0,0.2);
	/* box-shadow: 0 !important; */
	/* -webkit-box-shadow: 0 !important; */
}

/* ########################### */
/* ###### search bar ###### */
::-webkit-input-placeholder { /* Chrome */
  color: rgba(0,0,0,0.2) !important ;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,0.2) !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,0.2) !important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(0,0,0,0.2) !important;
  opacity: 1;
}


.form-control, .form-control:focus {
	font-size: 4em !important;
	box-shadow: none !important;
	border: 0  !important;
	/* align-items: stretch; */
	height: 1.2em !important;
	width: 5em !important;
	/* color: red; */
	background: #FCE949 !important;
}

@media screen and (max-width: 573px) /* Mobile */ {
	.input-group, .input-group:focus {
		border-bottom: 2px solid rgba(0,0,0,0.2);
	}

	.form-control, .form-control:focus {		
		font-size: 3em !important;
		width: 65vw !important;
	}
}

.btn-group-vertical {
	padding: 0 10px 0 0;
}




/* ########################### */
/* ###### button slider ###### */
#checkbox {
	/* margin: 2px 7px 0 5px; */
	/* width: 35px; */
	/* height: 35px; */	
}

.switch {
	margin: 10px; 
  position: relative;
  display: inline-block;
  width: 34px;
	height: 60px;	
	
	/* transform: rotate(90deg); */
}

.switch input {
	display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A8A0A0;
  -webkit-transition: .4s;
	transition: .4s;
	
	/* border: 1px solid rgba(0,0,0,0.2); */
}

/* Position of switch *square* */
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFD038;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFD038;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}






/* ########################### */
/* ###### search results list ###### */

.titleDrop {
		padding: 0 15px;
		font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
		font-size: 1em;
	}


.list {
	overflow: auto;
	max-height: 400px;
	line-height: 40px;
	margin: 1em 0 .6em 0;
	padding: 5px;
	
	color: red;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1em;

}

.list a:hover {
	text-decoration: none;
}

@media screen and (max-width: 573px) /* Mobile */ {
	.list {
		height: 59vh;
	}
}

.linkClass {
	margin: 10px;

  background: #B9FFB7;
  border-radius: 2px;
}

.linkClass {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
	color: #835F45;
}

.linkClass:hover {
  box-shadow: 5px 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title {
	margin-left: 1em;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Chango', sans-serif;
	font-size: 1em;
}

.descript {	
	margin-left: 1em;
	padding-bottom: 5px;
	font-size: 1em;
	line-height: 20px;
	/* font-family: 'Gafata', sans-serif; */
	
	/* font-style: italic; */
}

@media screen and (max-width: 573px) /* Mobile */ {
	.title {
		/* font-size: 2em;
		line-height: 1em; */
	}
	.descript {
		/* font-size: 1.5em; */
	}
}



/* ################################# */
/* ##### Scrollbar css styling ##### */
/* ##### --------------------- ##### */
 .list {
/* 	overflow-y: hidden; */
	overflow-x: hidden;
}

.list::-webkit-scrollbar {
  width: 0.3em;	
}
 
.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.list::-webkit-scrollbar-thumb {	
  background-color: #6Cf;
/* 	background-color: indigo; */
  outline: 0.3 solid slategrey;
}
/* ################################# */

